name: Heatmap Game Engine

on:
  workflow_dispatch:
    inputs:
      game:
        description: "Choose game"
        required: true
        default: "pacman"
        type: string

  schedule:
    - cron: "0 */24 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Pac-Man Game
        if: ${{ github.event.inputs.game == 'pacman' }}
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: ${{ github.repository_owner }}

      - name: Publish
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
